.counter {
  width: 400px;
  margin: 25px auto 15px;
  padding: 10px;
  border: 1px solid black;
  text-align: center;
}

.value {
  margin-right: 15px;
  margin-left: 15px;
  font-size: 64px;
  font-family: monospace;
  text-align: center;
}
